<h1>Edit Employee</h1>

<% flash.each do |type, msg| %>
  <div class='alert alert-<%= type %>' role='alert'>
    <%= msg %>
  </div>
<% end %>
<br>
<br>
<%=form_for @employee do |f|%>
  <%=f.label 'first_name'%>
  <%=f.text_field 'first_name'%>
  <%=f.label 'last_name'%>
  <%=f.text_field 'last_name'%>
  <%=f.label 'alias'%>
  <%=f.text_field 'alias'%>
  <%=f.label 'title'%>
  <%=f.text_field 'title'%>
  <%=f.label 'office'%>
  <%=f.text_field 'office'%>
  <%=f.label 'img_url'%>
  <%=f.text_field 'img_url'%>
  <%=collection_select(:employee, :dog_id, @dogs, :id, :name, prompt: true)%>
  <%=f.submit "Update"%>
<%end%>
