


<h1><%=@employee.name%>'s Page</h1>

<img src="<%=@employee.img_url%>" alt="employee photo">
<h2>First Name: <%= @employee.first_name %></h2>
<h2>Last Name: <%= @employee.last_name %></h2>
<h2>Alias: <%= @employee.alias %></h2>
<h2>Title: <%= @employee.title %></h2>
<h2>Office: <%= @employee.office %></h2>
<h2>Dog: <%= link_to @employee.dog.name, dog_path(@employee.dog) %></h2>
<br>
<%= link_to "Update Employee", edit_employee_path(@employee)  %>
<br>
<%= link_to "Main Menu", main_menu_path %>

