<h1>Update <%= @dog.name %></h1>

<%= form_for @dog, html: {class: "form-group"} do |f| %>
<div class="form-row">
  <div class="col-md-auto">
<%= f.label :name %>
<%= f.text_field :name, class: "form-control" %></div>
<div class="col-md-auto">
<%= f.label :breed %>
<%= f.text_field :breed, class: "form-control" %></div>
<div class="col-md-auto">
<%= f.label :age %>
<%= f.number_field :age, class: "form-control" %></div>
</div><br>
<%= f.submit "Submit", :class => "btn btn-success" %>
<%end%>
