<h1>Dog by id number</h1>
<h2><%=@dog.name%></h2>
<ul>
  <li><b>Breed: </b><%=@dog.breed%></li><br>
  <li><b>Age: </b><%=@dog.age%></li><br>
  <li><b>Owners: </b></li>
<!-- </ul>
<ul> -->
<%@dog.owners.each do |o|%>
  <blockquote><li><%=o.full_name%></li></blockquote>
<%end%>
</ul>
<%=button_to "Edit", {:action => "edit"}, :method => :get%>

<!--footer-->
<p><blockquote>
<a href="/dogs">dogs index.</a>
<br>
<a href="/employees">employees index.</a>
</blockquote></p>
